<app-encabezado titulo="Pagina 2"></app-encabezado>

<ion-content class="ion-padding">
  <app-refresh></app-refresh>
  <ion-text color="primary">
    <h1>Esta es la pagina 2</h1>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-piepagina></app-piepagina>