<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-padding">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list *ngFor="let item of opciones" lines="none"> 
          <ion-item class="ion-padding-top" [routerLink]="item.link">
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            {{ item.text }}
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
