<ion-header class="ion-no-border">
  <ion-toolbar  class="ion-padding">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">
      App Ejemplo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>
  <div id="container" align="center">
    <ion-text color="primary">
      <h1>Pagina Home</h1>
    </ion-text>
    <div class="ion-padding-top">
      <ion-button color="success" shape="round" routerLink="../pagina2">Ir a pagina 2</ion-button>
      <ion-button color="danger" shape="round" routerLink="../pagina3">Ir a pagina 3</ion-button>
    </div>
  </div>
</ion-content>

<app-piepagina></app-piepagina>